.inner-content {
  display: flex;
  height: 100%;
  width: 55%;
}

.login-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 37%;
}
.login-middle {
  display: flex;
  height: 100%;
  width: 18%;
  align-items: center;
}
.login-middle img {
  width: 100%;
}
.login-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
}

.login-right-top {
  display: flex;
  height: 15%;
  align-items: center;
}
.login-right-middle {
  display: flex;
  height: 85%;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  height: 60px;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 20px;
  margin-bottom: 0;
}
.login-input.user {
  margin-bottom: 30px;
}

.login-input::placeholder {
  font-size: 20px;
}
.login-form-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.login-form-middle img {
  transform: translate(35px);
  width: 100%;
  height: 100%;
}
.login-form-bottom {
  display: flex;
  height: 50px;
}

.login-form-bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-style: italic;
  font-size: 17px;
  color: rgb(149, 149, 149);
}

.login-check-box {
  display: flex;
  height: 20px;
  width: 20px;
}

.login-form-bottom-right {
  display: flex;
  justify-content: center;
  width: 50%;
}

.login-btn {
  width: 160px;
  height: 100%;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.login-heading {
  font-size: 45px;
}
.login-logo {
  width: 350px;
  height: 350px;
}
