.nocolumn {
    flex-direction: row;
}
.left-container {
 width: 25%;
 height: 100%;
  /* background-color: #99743d; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.middle-container {
    /* background-color: darkcyan; */
    height: 100%;
    width: 15%;
}
.right-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: cadetblue; */
}
.right-container-top {
    height: 17%;
    width: 100%;
    /* background-color: darkkhaki; */
    display: flex;
    align-items: center;
}
.right-container-bottom{
    height: 83%;
    width: 100%;
    /* background-color: rgb(108, 107, 189); */
}

.welcome-container {
    height: 60%;
    width: 30%;
    background-color: darkslategray;
    
}
.tabs{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50%;
    font-weight: bold;
    align-items: center;
    justify-content: center;

}

.tabs-btn {
    width: 100%;
    margin: 15px 0 15px 0;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    text-align: left;
    
}

.display{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 90%; 
}
.display-top {
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
}
.display-top-left{
    display: flex;
    height: 100%;
    width: 15%;
    align-items: center;
}
.display-top-middle {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-top-right {
    width: 15%;
    height: 100%;
}

.display-bottom {
    height: 100%;
    width: 100%;
}
.icon-square {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.main-title {
    margin-bottom: 25px;
}
.component-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}