.nocolumn {
  flex-direction: row;
}
.left-container {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.middle-container {
  height: 100%;
  width: 15%;
}
.right-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: cadetblue; */
}
.right-container-top {
  height: 17%;
  width: 100%;
  display: flex;
  align-items: center;
}
.right-container-bottom {
  height: 83%;
  width: 100%;
}

.welcome-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.welcome-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.welcome-container h3,
h5 {
  margin: 0;
  margin-bottom: 10px;
}

.display-profpic {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.tabs {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.tabs-btn {
  width: 100%;
  margin: 15px 0 15px 0;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}

.display {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 90%;
  border-radius: 5px;
}
.display-top {
  display: flex;
  align-items: center;
  height: 20%;
  width: 100%;
}
.display-top-left {
  display: flex;
  height: 100%;
  width: 15%;
  align-items: center;
}
.display-top-middle {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-top-right {
  width: 15%;
  height: 100%;
}

.display-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.display-message {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.icon-square {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title {
  margin-bottom: 25px;
}
.component-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  margin-right: 8px;
}

.training-number {
  height: 15%;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.training-table {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  height: 100%;
  width: 90%;
  table-layout: fixed;
}
thead {
  display: block;
}

thead th {
  height: 30px;
  width: 132px;
  padding: 0 5px;
}

tbody {
  display: block;
  overflow: auto;
  height: 200px;
  width: 100%;
}
tbody td {
  height: 30px;
  width: 132px;
  padding: 0 5px;
  text-align: center;
}

.refreshing-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15%;
  width: 100%;
  font-size: 15px;
}


