
.display-input {
    width: 80%;
    height: 100%;
}
.launcher-form {
    display: flex;
    flex-direction: column;
}

.launcher-input {
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.mg-bt-5 {
    margin-bottom: 10px;
}
.display-btn {
    display: flex;
    justify-content: center;
}
.queue-btn {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}