.display-input {
  width: 80%;
  height: 100%;
}
.launcher-form {
  display: flex;
  flex-direction: column;
}
.icon {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.launcher-form label {
  display: flex;
}
.launcher-form .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.launcher-input {
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 20px;
}

.mg-bt-5 {
  margin-bottom: 10px;
}
.display-btn {
  display: flex;
  justify-content: center;
}

.queue-btn {
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: bold;
  }
  .queue-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .queue-btn span:after {
    content: '\27A4'; 
    position: absolute;
    opacity: 0;
    top: 0;
    right: 75px;
    transition: 0.3s;
  }
  .queue-btn:hover span {
    padding-right: 30px;
  }
  .queue-btn:hover span:after {
    opacity: 1;
    right: 0;
  } 

  .test {
    height: 200px;
    width: 200px;
  }